<ion-view  view-title="Home" align-title="left">
    <ion-content style="background: url(img/wallpaper2.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="appName">Wi Chat</h1>
            </div>
        </div>

        <a href="#/app/chat/0" button class="button messagebutton button-positive icon ion-chatboxes ink ink-dark"></a>
        <a href="#app/chatlist"  button class="button userbutton button-positive icon ion-android-contact ink ink-dark" ng-click="search()"></a>
        <a href="#app/profile" class="button dashboardbutton button-positive icon ion-settings ink ink-dark"></a>
        <a href="#app/help" class="button helpbutton button-positive icon ion-help-circled ink ink-dark" ></a>
        <a href="#app/notification" class="button notificationbutton button-positive icon ion-information-circled  link ink-dark"></a>
        <a href="#app/logout" class="button logoutbutton button-calm icon ion-log-out ink ink-dark"></a>

    </ion-content>
</ion-view>
